@font-face {
    font-family: comical;
    src: url("Comic Sans MS.ttf")
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;

    scrollbar-width: none;

    background-color: white;
}

html, body {
    overscroll-behavior: none;
}

.tiling {
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    text-align: center;
    color: black;
    align-items: center;
    -webkit-text-stroke: 7.5px white;
    paint-order: stroke fill;

    align-content: center;
}

.tiling::after {
    z-index: -50;
    position: absolute;
    top: 0;
    content: "";
    mask-image: url("/question.svg");
    mask-size: 100px;
    mask-repeat: repeat;
    background-color: #eee;
    height: 100vh;
    width: 100vw;
    animation: scrollStars 60s linear infinite;
}

@keyframes scrollStars {
    0% {
        mask-position: 0 0;
    }
    100% {
        mask-position: 1000px -700px;
    }
}

.tile-holder {
    align-self: center;
    align-items: center;
    align-content: center;
    display: grid;
}

.entry {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}

input {
    margin: 0 -2px;
    padding: 0;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, input {
    font-family: comical, sans-serif;
    margin-top: 0;
}

