body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;

    scrollbar-width: none;
}

html, body {
    overscroll-behavior: none;
}

.tileable-stars-black {
    background-image: url("/bored.jpeg");
    background-size: 100px;
    background-repeat: repeat;
    height: 100vh;

    display: grid;
    position: relative;
    text-align: center;
    color: white;
    /*align-items: center;*/
    -webkit-text-stroke: 7.5px black;
    paint-order: stroke fill;

    animation: scrollStars 60s linear infinite;
}

@keyframes scrollStars {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1000px -700px;
    }
}